.Wrapper {
  height: 50px;
  width: 100%;
  position: fixed;
  background-color: #095c91; }
  .Wrapper ul:after {
    content: "";
    clear: both;
    display: block; }
  .Wrapper ul li {
    list-style: none;
    float: left;
    margin: 0 10px; }
  .Wrapper ul a {
    text-decoration: none;
    color: #fff; }
